<% if flash.has?(:success) %>
    <h3 class="ok"><%= flash[:success] %></h3>
<% end %>

<h2 class="me">
  <%= me %>
</h2>

<ul>
  <% @users.each do |user| %>
  <li>
    <%= user.name %>
  </li>
  <% end %>
</ul>

<ul>
  <% @topics.each do |topic| %>
      <li>
        <a href="./topics/<%= topic.id%>"><%= topic.title %></a>
      </li>
  <% end %>
</ul>
